@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Syne:wght@400..800&display=swap");

* {
  font-family: "Syne", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

:root {
  /* Colors */
  --primary-text-color: #cacaca;
  --sec-text-color: #ffffff;
  --third-text-color: #7c7c7c;
  --four-text-color: #a7a7a7;
  --primary-gredient-color: -webkit-linear-gradient(left, #045fda, #46ad28);
  --sec-gredient-color: -webkit-linear-gradient(#025cdf, #232323);
  --third-gredient-color: -webkit-radial-gradient(#8c66fb, #01c2de);
  --bg-color: #111111;
  --bg-2-color: #1c1c1e;
  --bg-3-color: #015be4;

  /* Font Sizes */
  --heading1: 52px;
  --heading2: 40px;
  --heading3: 32px;
  --heading4: 28px;
  --heading5: 20px;
  --heading6: 18px;
  --basefont: 16px;
  --smallfont: 14px;
  --extrasmallfont: 12px;

  /* Box Model Properties */
  --border-radius: 4px;
}

.section-padding {
  padding-top: 50px !important;
  padding-bottom: 100px !important;
}

.content-width {
  max-width: 1200px;
  padding: 0.5rem;
  margin: auto;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1024px) {
  :root {
    --heading1: 40px;
    --heading2: 32px;
    --heading3: 28px;
    --heading4: 24px;
    --heading5: 18px;
    --heading6: 16px;
    --basefont: 14px;
    --smallfont: 12px;
    --extrasmallfont: 10px;
  }
  .section-padding {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
/* Large Smartphones (Portrait & Landscape) */
@media (max-width: 768px) {
  :root {
    --heading1: 32px;
    --heading2: 28px;
    --heading3: 24px;
    --heading4: 20px;
    --heading5: 16px;
    --heading6: 14px;
    --basefont: 12px;
    --smallfont: 10px;
    --extrasmallfont: 8px;
  }
  .section-padding {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
/* Small Smartphones (Portrait) */
@media (max-width: 480px) and (orientation: portrait) {
  :root {
    --heading1: 28px;
    --heading2: 24px;
    --heading3: 20px;
    --heading4: 18px;
    --heading5: 14px;
    --heading6: 12px;
    --basefont: 10px;
    --smallfont: 8px;
    --extrasmallfont: 6px;
  }
  .section-padding {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
/* Small Smartphones (Landscape) */
@media (max-width: 640px) and (orientation: landscape) {
  :root {
    --heading1: 30px;
    --heading2: 26px;
    --heading3: 22px;
    --heading4: 18px;
    --heading5: 14px;
    --heading6: 12px;
    --basefont: 10px;
    --smallfont: 8px;
    --extrasmallfont: 6px;
  }
  .section-padding {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
/* Extra Small Devices (Watches, Foldable Phones) */
@media (max-width: 320px) {
  :root {
    --heading1: 24px;
    --heading2: 20px;
    --heading3: 16px;
    --heading4: 14px;
    --heading5: 12px;
    --heading6: 10px;
    --basefont: 8px;
    --smallfont: 6px;
    --extrasmallfont: 4px;
  }
  .section-padding {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

/* p {

/* Create the gradient. */
/* background-image: var(--sec-gred-color); */

/* Set the background size and repeat properties. */
/* background-size: 100%;
  background-repeat: repeat; */

/* Use the text as a mask for the background. */
/* This will show the gradient as a text color rather than element bg. */
/* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}  */
