@import url(listing-pix.css);

.navbar {
  padding-top: 1rem;
  background-color: var(--bg-color);
  position: relative;
}

.nav-item-2 ul {
  gap: 30px;
}

.sub-nav {
  justify-content: space-between;
}

.nav-item-2 a {
  font-size: var(--heading6);
  color: var(--primary-text-color);
}

.nav-item-2 .a-1 {
  /* Create the gradient. */
  background-image: var(--primary-gredient-color);

  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.nav-item-3 img {
  width: 150px;
}

.nav-item-3 a {
  padding: 0.3rem;
}

hr {
  background: #2e2e2e !important;
  border: none;
  height: 2px;
}

.nav-item-3 .a-2 {
  font-family: "Inter", sans-serif;
  color: var(--sec-text-color);
  background: var(--primary-gredient-color);
  font-size: var(--basefont);
  font-weight: 400;
  border-radius: var(--border-radius);
  padding: 1rem 1.3rem;
  margin-left: 0.2rem;
  font-weight: 400;
}

.img-1 {
  position: absolute;
  top: 132px;
  right: -120px;
  z-index: 0;
}

.body-container {
  background: var(--bg-color);
}

.body-part {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.section-2 .img-2 {
  position: absolute;
  left: -155px;
  width: 300px;
  top: 30px;
}

.body-part .p-2 {
  font-size: var(--heading1);
  font-weight: 600;
  color: var(--primary-text-color);
}

.text-div-1 {
  align-items: center;
  text-align: center;
  margin-top: 1rem;
}

.body-part .p-3 {
  color: var(--third-text-color);
  font-size: var(--heading5);
  margin-top: 2rem;
}

.p-3-span {
  text-decoration: underline;
}

.img-3 {
  width: 170px;
  margin-top: 1.5rem;
  padding-right: 1rem;
}

.img-4 {
  position: absolute;
  z-index: -1;
  top: 200px;
  right: -170px;
}

.img-5 {
  width: 100%;
  margin-top: 3rem;
}

.body-container-2 {
  background: var(--bg-2-color);
  padding-bottom: 5rem;
}

.body-part-2 .p-4 {
  color: var(--four-text-color);
  font-size: var(--heading2);
  font-weight: 600;
}

.p-4-span {
  color: var(--sec-text-color);
}

.body-part-2 .img-6 {
  width: 75px;
  margin: 0 10rem 0 0;
}

.body-part-2 .img-7 {
  width: 45px;
  margin: 4rem 0 0 10rem;
}

.sub-body-part-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4rem;
  margin-top: 1rem;
}

.sub-body-part-2 .p-5 {
  color: var(--sec-text-color);
  font-weight: 600;
  font-size: var(--heading5);
  margin-top: 1rem;
}

.sub-body-part-2 .p-6 {
  color: var(--primary-text-color);
  font-size: var(--heading7);
  margin-top: 1rem;
}

.sub-body-part-3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.img-8 {
  width: 80px;
}

.sub-part-2 {
  align-items: center;
  text-align: center;
}

.sub-part-3 {
  position: relative;
}

.img-div {
  position: relative;
}

.img-9 {
  position: absolute;
  width: 250px;
  top: -200px;
  left: 265px;
}

.img-10 {
  position: absolute;
  width: 250px;
  top: -140px;
  right: 255px;
}

.body-container-3 {
  background: var(--bg-3-color);
}

.sub-part-3 .p-7 {
  color: var(--sec-text-color);
  font-weight: 600;
  font-size: var(--heading3);
}

.img-11 {
  width: 130px;
  padding-right: 0.7rem;
  margin-top: 2rem;
}

.img-12 {
  position: absolute;
  width: 500px;
  right: 310px;
  top: 1920px;
  z-index: -1;
}

.sub-part-4 {
  padding-bottom: 12.3rem !important;
  z-index: 2;
}
